server:
  port: 8443
  ssl:
    enabled: true
    key-store: /opt/ssl/inventory.p12
    key-store-password: JanFeb@4902026
    key-store-type: PKCS12
    key-alias: inventory

spring:
  application:
    name: Inventory-Backend

  datasource:
    url: jdbc:h2:mem:inventorydb
    driver-class-name: org.h2.Driver
    username: sa
    password: ""

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    database-platform: org.hibernate.dialect.H2Dialect

  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true
